In [8]:
import requests
from bs4 import BeautifulSoup
import re
import urllib.request, json
import wget
import math as m
import getpass
import pandas as pd

In [9]:
def calcul_Distance(ville_1, ville_2):
    url = "https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins="+ville_1+"&destinations="+ville_2+"&key=AIzaSyBKED6FYbqdBZvufn-cYD--4MpyClWFrh4"
    dist = requests.get(url).json()
    return dist["rows"][0]["elements"][0]["distance"]["value"]

In [10]:
urlVilles = "https://lespoir.jimdo.com/2015/03/05/classement-des-plus-grandes-villes-de-france-source-insee/"

res = requests.get(urlVilles)
soup = BeautifulSoup(res.text, 'html.parser')
soupres = soup.tbody.find_all("td", "xl65", style = "font-size: 11pt; font-family: Calibri; border-style: none solid solid none; border-right-width: 0.5pt; border-right-color: white; border-bottom-width: 0.5pt; border-bottom-color: white; background: rgb(165, 165, 165);")

In [20]:
listeVilles = []
for i in range(0,200,2):
    ville = soupres[i].text.strip()
    listeVilles.append(ville)

In [23]:
listeVilles[:10]

['Paris',
 'Lyon',
 'Nice',
 'Strasbourg',
 'Bordeaux',
 'Rennes',
 'Le Havre',
 'Toulon',
 'Dijon',
 'Nîmes']

In [28]:
list(map(lambda x: calcul_Distance("Paris", x), listeVilles[:10]))

[0, 465937, 932296, 492004, 584877, 354818, 195896, 839179, 315264, 712420]

In [29]:
l =[]
for ville in listeVilles[:10] :
    l.append(list(map(lambda x: calcul_Distance(ville, x), listeVilles[:10])))

In [35]:
df = pd.DataFrame(l, columns=listeVilles[:10], index=listeVilles[:10])

In [36]:
df

,Paris,Lyon,Nice,Strasbourg,Bordeaux,Rennes,Le Havre,Toulon,Dijon,Nîmes
Paris,0,465937,932296,492004,584877,354818,195896,839179,315264,712420
Lyon,466046,0,471241,487679,556035,742797,656562,378124,195751,251365
Nice,932080,470844,0,784927,802545,1208736,1122595,149524,661784,278708
Strasbourg,490229,492813,784275,0,942183,835196,698860,863488,329867,736729
Bordeaux,590485,556213,802771,941701,0,472209,691439,709654,644588,532772
Rennes,348782,738308,1203147,830059,466494,0,278580,1110030,616930,983271
Le Havre,197197,655752,1122111,699998,685961,278773,0,1028994,505079,902235
Toulon,839328,378093,149103,862788,709794,1115984,1029844,0,569033,185956
Dijon,314566,194600,660959,330654,643970,623560,505081,567842,0,441083
Nîmes,712971,251736,280074,736431,532805,989627,903487,186957,442676,0